*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#temp{
    font-size: large;
    font-weight: 700;
    text-transform: capitalize;
    margin: 30px;
    padding-top: 20px;

}
#pressure{
    font-size: large;
    font-weight: 700;
    margin: 30px;
    padding-top: 20px;

}
#humidity{
    font-size: large;
    font-weight: 700;
    margin: 30px;
    padding-top: 20px;

}
#City{
    font-size: large;
    font-weight: 700;
    text-transform: capitalize;
    margin: 30px;
    padding-top: 20px;

}
#cityName{
    padding: 10px;
    font-size: large;
    outline: none;
    border-radius: 10px;
}
#checkWeather{
    margin: 5px;
    padding: 10px;
    font-size: larger;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}
hr{
    margin: 50px;
}
h2{
    background: rgb(1, 4, 44);
    border-radius: 10px;
    color: white;
    padding: 5px;
    margin-left: -20px;
}
